<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.mannir.app.phonegap" version="1.0.0">
    <name>Mannir PhoneGap</name>
    <description>
        A sample for phonegap-build-maven-plugin. 
    </description>
    <author href="" >
        Mannir Ahmad
    </author>
</widget>
